
$bb-orange: #FF9900;
$bb-light-orange: #FFDAAF;
$bb-lighter-orange: #FFE9CE;

.bbb-section {
  padding: 5px 2px 5px 2px;
  margin: 2px 2px 0 0;
}

.bbb-lighter {
  background: $bb-lighter-orange;
}

td.bbb-table-label {
  width: 130px;
  text-align: right;
}
